@{
    Layout = "/_Layout";
    ViewBag.Title = "Stuff is being done here";
    ViewBag.Message = "And whenever stuff is being done, is being done.";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var $lastSearch = "\0";

            $("#searchButton").click(function () {
                var $search = $("#searchText").val();

                if ($search != $lastSearch) {
                    $("#loader").css({ display: "block" });
                    $("#content").find(".result").remove();
                    var $table = $("<table />").attr("class", "result full-width");
                    var $rows;

                    $.get("/GetByName/" + $search, null, function (result) {
                        $("#loader").css({ display: "none" });

                        if (result && result.length > 0) {
                            $rows = $("<tr />");
                            $rows.append($("<th />").attr("class", "highlight").append("Name"));
                            $rows.append($("<th />").attr("class", "highlight").append("Cedula"));
                            $table.append($rows);

                            for (i = 0; i < result.length; i++) {
                                $rows = $("<tr />");

                                $rows.append($("<td />").append(result[i].Name + " " + result[i].LastName));
                                $rows.append($("<td />").append(result[i].Cedula));

                                $table.append($rows);
                            }
                            $("#content").append($table);
                        } else {
                            $table = $("<ul />").attr("class", "result full-width").append($("<li />").append("Results not found."));
                            $("#content").append($table);
                        }

                        $lastSearch = $search;
                    });
                }
            });

            $("#searchText").keyup(function (e) {
                if (e.keyCode == 13 || (this.value.length >= 0 && $("#chkAutoSearch").is(":checked")))
                    $("#searchButton").click();
            });

            $("#searchButton").click();
        });
    </script>
}

<div id="dataHolder">
    <div id="searchZone">
        <input type="text" id="searchText" name="searchText" style="float: left" value="@Model" />
        <button id="searchButton" style="float: left"> Search </button>

        <span class="pull-right" style="line-height: 30px;">
            <label class="fira-sans small" for="chkAutoSearch">
                Auto Search
            </label>
        </span>
        <input type="checkbox" id="chkAutoSearch" checked class="pull-right"/>
    </div>

    <div id="content" style="clear: both">
        <div id="loader" style="display: none;">Loading</div>
    </div>
</div>

