@{
    Layout = "/_ErrorLayout";
    ViewBag.Title = "Oops! 400";
    ViewBag.Error = "400 - Unauthorized";
    ViewBag.Message = "<br/> <p>Well, frankly speaking you attempted to enter a page that doesn't exists, which is wrong.</p>"
        + "<p>Bad human, bad human.</p>";
    ViewBag.Description = "This happens when some cyborg sharks attempt to destroy our pages (and probably succeded)"
        + "<br /> You should try later or realize that sharks already got to this page and further attempt to locate it is meaningless.";
}