@{
    Layout = "/_ErrorLayout";
    ViewBag.Title = "Oops! 400";
    ViewBag.Error = "400 - Bad Request";
    ViewBag.Message = "<br/> <p>This means you sent something to our servers that they could not understand (Probably french).</p>";
    ViewBag.Description = "This happens when something goes wrong with your request and it's completely natural"
        + ", you should try later or realize that sharks already got to your pc and translated every request to french and further struggle is meaningless.";
}