@{
    Layout = "/_ErrorLayout";
    ViewBag.Title = "Oops! 404";
    ViewBag.Error = "404 - Not Found";
    ViewBag.Message = "<br/> <p>Well, basically you attempted to enter a page that doesn't exists.</p>"
        + "<p>Bad human, bad human.</p>";
    ViewBag.Description = "This happens when some cyborg sharks attempt to destroy our pages (and probably succeded)"
        + "<br /> You should try later or realize that sharks already got to this page and further attempt to locate it is meaningless.";
}