<!DOCTYPE html>

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/errorstyle.min.css" />
    <title>@ViewBag.Title</title>
    <script>
        $(document).ready(function () {
            //var seconds = 11;
            $("#errorBody").css('top', ($(window).height() - $("#errorBody").height()) / 2);
            //setInterval(function () {
            //    if (seconds >= 0) {
            //    if (seconds <= 10)
            //        $("#counter").text(seconds);
            //        seconds--;
            //    } else
            //        location.href = "/Home/";

            //}, 1000);
        });
    </script>
</head>
    <body>
        <div id="errorBody">
            <hr />
            <br />

            <header>
                <h1 class="fira-sans big center"> Something went terribly wrong! </h1>
                <h3 class="fira-sans small center"> (There's no Jam for my sandwish) </h3>
            </header>
            <section id="mainSection">
                <h2 class="fira-sans big">Error: @ViewBag.Error</h2>
                <h2 class="fira-sans small">@Html.Raw(ViewBag.Message)</h2>
                <br />
                <h3 class="fira-sans small">@Html.Raw(ViewBag.Description)</h3>
                <br />
                @*<h3 class="fira-sans small">We'll send you home in <em id="counter">a couple of</em> seconds, just be patient.</h3>*@
                <h3 class="fira-sans small">You should probably <a href="/Home">go home</a>.</h3>
            </section>

            <br />
            <hr />
        </div>
    </body>
</html>
