<section id="sideBar">
    <a class="option logo" href="/Home">
        <img src="~/Content/nancy-logo.png" width="75" />
    </a>
    <a href="/Search" class="option fira-sans small">
        Search
    </a>
    <a href="/Add" class="option fira-sans small">
        Add Someone
    </a>
</section>
